@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #800080;
}
.bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #800080 0%, 
    #4E31AA 46%, 
    #3795BD 100%);
}
.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: spin 5s linear infinite;
    bottom: -150px;
}
.glass li:nth-child(1) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}
.glass li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.glass li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.glass li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.glass li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.glass li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.glass li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.glass li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.glass li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.glass li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

#everything {
    height: 100vh;
    border: 1px solid black;;
}

nav {
    height: 10%;
    width: 100%;
    background:transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}
main {
    height: 80%;
    width: 100%;
    
    
}

.logo {
    height: 120px;
    width: 150px;
    cursor: pointer;
}
.wrapper{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
  
h1{
    font-size: 2rem;
    color: #07001f;
  }
  p{
    margin-bottom: 1.7rem;
  }
  form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
  }
  .recover a{
    text-decoration: none;
    color: #07001f;
  }
  button{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: plum;
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    background: rgba(122, 30, 30, 0.767);
  }
  .or{
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .icons i{
    color: #07001f;
    padding: 00.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
  }
  .icons i:hover{
    color: #fff !important;
    background: #07001f;
    transition: 1s;
  }
  .icons i:first-child{
    color: rgb(0, 0, 0);
  }
  .icons i:last-child{
    color: black;
    cursor: pointer;;
  }
  .not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }
  .not-member a{
    color: tomato;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }